body {
    /*to remove pre-brower margins on chrome*/
    margin:  auto 0;
}

.topnav {
    background-color: #00ADB5;
    overflow: hidden;
}

/* When the screen is less than 600 pixels wide, hide all links, except lanuage. 
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 680px) {
  .topnav .navlink {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
This class makes the topnav look good on small screens (display the links vertically instead of 
horizontally) */
@media screen and (max-width: 680px) {
  .topnav.responsive {position: relative;}
  .topnavnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin: 0;
    font-size: 14px;
  }
}

/* to remove margin from hamburger menu icon */
i.fa.fa-bars {
  margin:0;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  font-size: 4vw;
  display: none;
}


/* to style nav bar items */
nav>a {
    font-size: 2vw;
    font-weight: bold;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* to style selected language */
.selected {
    font-size: 2vw;
    font-weight: bold;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    margin: 0;
    text-decoration: none;
    background-color: #393E46;
    color: white;
}

/* adjust Japanese font*/
.japanese {
    font-size: 1.555vw;
}

/* in order to orient language settings to the right for larger screens*/
@media screen and (min-width: 680px) {
  .language {
    float:right;
  }
}

/* to adjust font size for large screens */
@media screen and (min-width: 1200px) {
  .navlink {
    font-size: 24px;
  }
  .japanese {
    font-size: 18px;
  }
}

/* for hover effect on nav items */
nav>a:hover{
    opacity: 0.7;
}

/* to remove opacity from selected links */
.selected:hover {
  opacity: 1;
}

/* to remove click effect from selected link */
.selected:active {
  color:white;
}

nav>a:active{
    color: black;
}

/* to style social media icons */
.fa {
    height: 10px;
    width: 10px;
    margin: 5%;
    text-decoration: none;
    color: black;
}

/* adds hover effect for social media icons */
.fa:hover {
    opacity: 0.7;
}
