body {
    /*to remove pre-brower margins on chrome*/
    margin:  auto 0;
}

.topnav {
    background-color: #00ADB5;
    overflow: hidden;
}

/* to make navbar sticky */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* to make footer sticky */
.stickybtm {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* When the screen is less than 600 pixels wide, hide all links, except lanuage. 
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1000px) {
  .topnav .navlink {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}

/* to style nav bar items */
nav>a {
  font-size: 23.2px;
  font-weight: bold;
  float: left;
  display: block;
  text-align: center;
  padding: 16px 14px; 
  text-decoration: none;
  font-family: 'Outfit', sans-serif;
}

/* adjust Japanese font*/
.japanese {
    font-size: 19.33px;
    font-family: 'Outfit', sans-serif;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
This class makes the topnav look good on small screens (display the links vertically instead of 
horizontally) */
@media screen and (max-width: 1000px) {
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnavnav.responsive a.icon { 
    font-size: 26px;
  }
  nav>a {
    font-size: 3vw;
  }
  .japanese {
    font-size: 2.8vw;
  }
}

/* to remove margin from hamburger menu icon */
i.fa.fa-bars {
  margin:0;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  font-size: 26px;
  display: none;
}


/* to style selected language */
.selected {
    font-weight: bold;
    float: left;
    display: block;
    text-align: center;

    text-decoration: none;
    background-color: #222831;
    color: white;
    font-family: 'Outfit', sans-serif;
}

/* in order to orient language settings to the right for larger screens*/
@media screen and (min-width: 1000px) {
  .language {
    float:right;
  }
}

/* to add color to nav items */
.navitem {
  color: #222831;
}

/* for adding background to nav items */
.navitem:hover {
  background-color: #A4E9ED;
  color: #222831;
}

/* to remove click effect from selected link */
.selected:active {
  color:white;
}

nav>a:active{
    color: #222831;
}

/* to adjust background of notselected language items */
.notselected {
  background-color: #999999;
  color: #222831;
}

.notselected:hover {
  background-color: #D9D9D9;
  color: #222831;
}

/* to style social media icons */
.fa {
    padding-right: 20%;
    text-decoration: none;
    color: #222831;
}

/* adds hover effect for social media icons */
.fa:hover {
    color: #636569;
}

/* to change text in document */
.text {
  color: #222831;
  font-family: 'Outfit', sans-serif;
}

p {
  color: #222831;
  font-family: 'Outfit', sans-serif;
}

/* to adjust the "home" section */
.home {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr; */
}

.spacer {
  height: 15vh;
  width: 100%;
}


/* to adjust headshot image */
#headshot {
  height: 30vmin;
  width: 30vmin;
  border-radius: 50%;
  border: 3px solid #222831;
}

/* to adjust text div */
.homediv {
  text-align: center;
  font-size: 3vmin;
}

/* to adjust height of about section */
.about {
  height: 100vh;
  align-items: center;
}

.aboutHeading {
  font-size: 2.2rem;
}

.aboutDescription {
  font-size: 1.5rem;
}

.skills {
  display: grid;
}

.portfolio {
  height: 100vw;
  background-color: red;
}

/* to style footer */
footer {
  display: grid;
  background-color: #00ADB5;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}



