body {
    /*to remove pre-brower margins on chrome*/
    margin:  auto 0;
}

.topnav {
    background-color: #00ADB5;
    overflow: hidden;
}

/* to make navbar sticky */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* to make footer sticky */
.stickybtm {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* When the screen is less than 600 pixels wide, hide all links, except lanuage. 
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1000px) {
  .topnav .navlink {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}

/* to style nav bar items */
nav>a {
  font-size: 23.2px;
  font-weight: bold;
  float: left;
  display: block;
  text-align: center;
  padding: 16px 14px; 
  text-decoration: none;
  font-family: 'Outfit', sans-serif;
}

/* adjust Japanese font on nav bar*/
.language.japanese {
    font-size: 19.33px;
}

/* to change japanese font */
.japanese {
  font-family: 'Outfit', sans-serif;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
This class makes the topnav look good on small screens (display the links vertically instead of 
horizontally) */
@media screen and (max-width: 1000px) {
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnavnav.responsive a.icon { 
    font-size: 26px;
  }
  nav>a {
    font-size: 3vw;
  }
  .japanese {
    font-size: 2.8vw;
  }
}

/* to remove margin from hamburger menu icon */
i.fa.fa-bars {
  margin:0;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  font-size: 26px;
  display: none;
}


/* to style selected language */
.selected {
    font-weight: bold;
    float: left;
    display: block;
    text-align: center;

    text-decoration: none;
    background-color: #222831;
    color: white;
    font-family: 'Outfit', sans-serif;
}

/* in order to orient language settings to the right for larger screens*/
@media screen and (min-width: 1000px) {
  .language {
    float:right;
  }
}

/* to add color to nav items */
.navitem {
  color: #222831;
}

/* for adding background to nav items */
.navitem:hover {
  background-color: #A4E9ED;
  color: #222831;
}

/* to remove click effect from selected link */
.selected:active {
  color:white;
}

nav>a:active{
    color: #222831;
}

/* to adjust background of notselected language items */
.notselected {
  background-color: #999999;
  color: #222831;
}

.notselected:hover {
  background-color: #D9D9D9;
  color: #222831;
}

/* to style social media icons */
.fa {
    margin-right: 20%;
    text-decoration: none;
    color: #222831;
}

/* adds hover effect for social media icons */
.fa:hover {
    color: #636569;
}

/* to change text in document */
.text {
  font-family: 'Outfit', sans-serif;
}

/* to change dark text */
.text.dark {
  color: #222831;
}

/* to change light text */
.text.light {
  color: white;
}

/* to adjust the "home" section */
.home {
  background-image: url(home.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
}

.homespacer {
  height: 15vh;
  width: 100%;
}


/* to adjust headshot image */
#headshot {
  height: 30vmin;
  width: 30vmin;
  border-radius: 50%;
  border: 3px solid #222831;
}

/* to adjust text div */
.homediv {
  text-align: center;
  font-size: 3vmin;
}

/* to adjust about section */
.about {
  background-color: #222831;
  height: 80vh;
  width: 80vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

/* to adjust size for about fonts */
.aboutHeading {
  font-size: 8vmin;
}

.aboutDescription {
  font-size: 4vmin;
}

/* to format skills section */
.skills {
  width: 100vw;
  background-color: #d2d3d6;
}

/* to format skill title */
#skillsTitle {
  text-align: center;
  font-size: 8vmin;
  padding-top: 15vh;
  margin-top: 0;
}

/* to adjust the size of skills image */
.skillsImage {
  height: 4vmin;
  width: 4vmin;
  margin-left: 1vmin;
}

/* to set up grid */
.skillCategories {
  display: grid;
}

/* to remove bullet points from skills lists */
.skillsList {
  list-style: none;
  padding-bottom: 10vh;
  border: 5px solid #222831;
  border-radius: 15%;
  background-color: white;
  font-size: 4vmin;
  margin: 0;
}

/* to adjust grid to large screens */
@media screen and (min-width: 1000px) {
  .skills {
    height: 100vh;
  }
  .skillCategories {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 64vw;
    margin-right: 18vw;
    margin-left: 18vw;
  }
  .skillsList {
    font-size: 2vmin;
    width: 15vw;
    height: 17vh;
  }
}

/* to adjust grid to small screens */
@media screen and (max-width: 1000px) {
  #skillsTitle {
    padding: 10vh;
    margin-bottom: 0;
  }
  .skills {
    height: 180vh;
  }
  .skillCategories {
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    width: 100vw;
    height: 140vh;
  }
  .skillsList {
    width: 40vw;
    height: 30vh;
  }
}


.portfolio {
  margin-top: 0;
  height: 100vh;
  background-color: red;
}

/* to style footer */
footer {
  display: grid;
  background-color: #00ADB5;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}



